@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Inter";
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
.bg {
  background-image: url("/assets/images/bg.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
